<mat-card>
  <button mat-raised-button color="accent" (click)="formStore.sync()" [disabled]="formStore.uploadRunning || !isConnected">
    <mat-icon>sync</mat-icon> Daten übertragen
  </button>

  <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="formStore.uploadRunning" style="display: inline-block"></mat-spinner>

  <p *ngIf="!isConnected">Verbinden Sie das Gerät mit dem WLAN um die Daten übertragen zu können</p>

  <p *ngIf="signedCount(this.forms, formStore.submissions) > 0">
  <span [ngPlural]="signedCount(this.forms, formStore.submissions)">
    <ng-template ngPluralCase="=1">1 Eintrag muss</ng-template>
    <ng-template ngPluralCase="other">{{signedCount(this.forms, formStore.submissions)}} Einträge müssen</ng-template>
  </span> noch übertragen werden.
  </p>

  <p *ngIf="unsignedCount(this.forms, formStore.submissions) > 0">
  <span [ngPlural]="unsignedCount(this.forms, formStore.submissions)">
    <ng-template ngPluralCase="=1">1 Eintrag muss</ng-template>
    <ng-template ngPluralCase="other">{{unsignedCount(this.forms, formStore.submissions)}} Einträge müssen</ng-template>
  </span> noch unterschrieben werden.
  </p>
</mat-card>

